In [3]:
# Q1. Create a python program to sort the given list of tuples based on integer value using a
# lambda function.
# [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [4]:
l = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [5]:
sorted(l, key=lambda x:x[1])

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

In [6]:
# Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
# lambda and map functions.
# [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
list(map(lambda x:x**2, l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
# Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
# lambda functions

In [10]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
tuple(map(lambda l:str(l), l))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [12]:
# Q4. Write a python program using reduce function to compute the product of a list containing numbers
# from 1 to 25.

In [13]:
from functools import reduce

In [14]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [15]:
reduce(lambda x,y :x+y, l)

325

In [16]:
# Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
# filter function.

In [17]:
l = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [18]:
list(filter(lambda x: x%2==0 or x%3==0, l))

[2, 3, 6, 9, 27, 60, 90, 120, 46]